body{
    background: lightblue;
    padding:20px;
}
.buttons{
    display:flex;
    margin-top:10px;
}
button{
    margin-bottom:10px;
    margin-right:10px;
    border:none;
    border-radius:10px;
    width: 100px;
    height:40px;
    color:white;
    background: cadetblue;
}
button:active{
    color:cadetblue;
    background: white;

}
button:hover{
    box-shadow: 0 0 2px 2px white;
}
